.section-button {
    width:100%;
    background-color:#ffffff;
}

.section-button:hover {
    outline:1px solid lightskyblue;
}

dialog {
    border:none;
    padding:1em 2em;
    box-shadow: 4px 6px 0px 0px rgba(0, 0, 0, 0.1);
}

#no {padding-left:0px;}
#yes {padding-right:0px;}

.dialog-confirmation {
    font-size:30px;
}

.dialog-button-container {
    padding-top:1rem;
    display:flex;
    justify-content:space-between;
}

.dialog-button-container button {
    font-weight:400;
    font-size:20px;
    background-color:transparent;
}

.dialog-button-container button:hover {
    font-weight:bold;
}

.editor-header .section-button, .editor-header .edit-section-form {
    margin-top:0.5rem;
}

.header-title {
    padding-left:15px;
    background-color:white;
    display:flex;
    justify-content:space-between;
    padding-right:5px;
    align-items:center;
    height:3rem;
    font-weight:500;
    font-size:20px;
    border-radius:8px;
    width:100%;
}

.header-title:hover {outline:1px solid lightskyblue;}

.header-info-container {
    display:flex;
    align-items:center;
    gap:3px;
    font-size:14px;
    font-weight:400;
}

.edit-section-container {
    display:flex;
    flex-direction:column;
    gap:0.5rem;
    padding-top:1rem;
}

.edit-section-form {
    border-radius:10px;
    background-color:white;
    position:relative;
    padding:15px 25px;
}

.edit-section-form label {
    display:flex;
    flex-direction:column;
    text-align:left;
    padding-bottom:10px;
}

input {
    border:none;
}

.date-container {
    display:flex;
    gap:10px;
}

#desc {
    height:4rem;
}

.date-container label {
    width:calc(50% - 5px);
}

#button-container-header {
    justify-content:flex-end;
}

.button-container {
    padding-top:0.25rem;
    display:flex;
    justify-content:space-between;
}

.button-container button {
    border-radius:10px;
    transition:0.3s background-color, color;
    background-color:rgb(240, 240, 240);
}

.button-container button:hover {
    background-color:black;
    color:white;
}

.edit-section-form input {
    background-color:rgb(245, 245, 245);
    height:2rem;
    padding-left:10px;
    border-radius:10px;
}

.edit-section-form input:focus {
    outline:1px solid darkgray;
}

.close {
    height:20px;
    padding:0px;
    position:absolute;
    top:5px;
    right:5px;
    background-color:transparent;
}

.add-section {
    height:42.4px;
    border-radius:8px;
    text-align:center;
    margin-top:2rem;
}

.add-section:hover {
    outline:1px solid lightskyblue;
}

.add-section:focus {
    outline:1px solid lightskyblue;
}